﻿@using AirlineSystemApp.Models.Flight
@model FlightViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Booking</title>
</head>
<body>

    <h2>Book Seat</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Number</th>
                <th>Departure City</th>
                <th>Arrival City</th>
                <th>Duration</th>
                <th>Price</th>
                <th>Capacity</th>
                <th>Is Full</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>@Model.Id</th>
                    <th>@Model.DepartureCity</th>
                    <th>@Model.ArrivalCity</th>
                    <th>@Model.Duration</th>
                    <th>@Model.Price</th>
                    <th>@Model.Capacity</th>
                     @if (!@Model.IsFullyBooked)
                    {
                    <th>not full</th>
                    }
                    else
                    {
                    <th class="full">full</th>
                    }
        </tbody>
    </table>

    <div class="container-form">
        <form method="post" asp-controller="Flight" asp-action="BookSeat" asp-route-id="@Model.Id">
            <input type="hidden" name="FlightId" value="@Model.Id" readonly />
            <div>
                <label for="PassengerViewModels">Passagers</label>
                <select asp-for="PassengerViewModels" name="PassengerId">
                    <option selected disabled>Choose</option>
@foreach (var p in @Model.PassengerViewModels) //This creates a dropdown of all the peoples names received from the database
                           {
                    <option value=@p.Id>@p.PrintAllName</option>
                    }
                </select>
            </div>
            <button type="submit">Book</button>
            <button asp-controller="Flight" asp-action="Index" id="cancelButton">Cancel</button>
        </form>
    </div>
</body>
</html>