@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Edit Flight</h2>

<form method="post" asp-controller="Flight" asp-action="Edit" asp-route-id="@Model.Id">
    <p>
        <label>Flight Number</label>
        <input type="text" name="Id" value="@Model.Id" readonly/>
    </p>
    <p>
        <label>Departure City</label>
        <input type="text" name="DepartureCity" value="@Model.DepartureCity"/>
    </p>
    <p>
        <label>Arrival City</label>
        <input type="text" name="ArrivalCity" value="@Model.ArrivalCity"/>
    </p>
    <p>
        <label>Duration</label>
        <input type="number" name="Duration" value="@Model.Duration"/>
    </p>
    <p>
        <label>Price</label>
        <input type="number" step="any" name="Price" value="@Model.Price"/>
    </p>
    <p>
        <label>Capacity</label>
        <input type="number" name="Capacity" value="@Model.Capacity" readonly/>
    </p>

    <button type="submit">Edit</button>
    <button asp-controller="Flight" asp-action="Index">Cancel</button>
</form>