@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Flight</title>
</head>
<body>
    <div class="container-form">
        <h2>Edit Flight</h2>

        <form method="post" asp-controller="Flight" asp-action="Edit" asp-route-id="@Model.Id">
            <div>
                <label>Flight Number</label>
                <input type="text" name="Id" value="@Model.Id" readonly />
            </div>
            <div>
                <label for="DepartureCity">Departure City</label>
                <input type="text" name="DepartureCity" value="@Model.DepartureCity" />
            </div>
            <div>
                <label for="ArrivalCity">Arrival City</label>
                <input type="text" name="ArrivalCity" value="@Model.ArrivalCity" />
            </div>
            <div>
                <label for="Duration">Duration</label>
                <input type="number" name="Duration" value="@Model.Duration" />
            </div>
            <div>
                <label for="Price">Price</label>
                <input type="text" name="Price" value="@Model.Price" />
            </div>
            <div>
                <label for="Capacity">Capacity</label>
                <input type="number" name="Capacity" value="@Model.Capacity" readonly />
            </div>

            <button type="submit">Edit</button>
            <button asp-controller="Flight" asp-action="Index" id="cancelButton">Cancel</button>
        </form>
</body>
</html>